#gameDetails, #playerNames {
    -fx-font-family: Verdana;
    -fx-background-color: #DDD;
}

#notationBox .player-name,
#notationBox .game-result,
#notationBox .eco {
    -fx-font-weight: bold;
}

#notationBox .annotator {
    -fx-font-style: italic;
}

#notationBox .load-error {
    -fx-fill: #F00;
    -fx-font-weight: bold;
}


#notationBox #gameDetails .label {
    -fx-text-overrun: CLIP;
}

#movePane {
    -fx-background: #EEE;
    -fx-background-color: transparent;
    -fx-border-color: #222 transparent transparent transparent;
}

#moveBox {
    -fx-text-fill: #222;
    -fx-padding: 4px;
}

#moveBox .selected-move {
    -fx-background-color: #222;
    -fx-text-fill: #EEE;
}

#moveBox .label {
    -fx-font-family: Verdana;
}

#moveBox .main-line {
    -fx-font-weight: bold;
}

#moveBox .last-line {
    -fx-font-style: italic;
}

#moveBox .variation-name {
    -fx-font-weight: bold;
    -fx-underline: true;
}

#moveBox .variation-head {
    -fx-underline: true;
}

#moveBox .comment-label {
    -fx-padding: 0px 0px 0px 0px;
    -fx-text-fill: darkblue;
}

#moveBox .critical-opening-position {
    -fx-text-fill: blue;
}

#moveBox .critical-middlegame-position {
    -fx-text-fill: red;
}

#moveBox .critical-endgame-position {
    -fx-text-fill: green;
}
